

.app-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    width: 100%;
    margin-top: 64px;

}

.upper-section {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.lower-section {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.input-container, .chart-container, .finance-container {
    flex: 1; /* Each takes 1/3 of the upper section */
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; /* In case content is too large */
}

.table-container {
    flex: 1; /* Each takes 1/3 of the lower section */
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; /* For table scrolling if needed */
}